# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
*.iml
.idea/
.vscode/
*.log
app/analyze_out.txt

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/google-services.json
**/android/app/release/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Runner.xcworkspace/xcuserdata/

# misc
.DS_Store
Thumbs.db
